# 默认忽略的文件
/.idea/
/shelf/
/.idea/workspace.xml
/log.path_IS_UNDEFINED
/target/
/build/
/node_modules/
/logs/
.env
application-local.yaml
docker-compose.override.yml
*.log
*.iml
*.ipr
*.iws
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
